<div th:fragment="common_js">
    <script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/static/js/commutils.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js?v=3.3.6}"></script>
    <script th:src="@{/static/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/static/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/static/js/layer.min.js}"></script>
    <script th:src="@{/static/js/hplus.js?v=4.1.0}"></script>
    <script th:src="@{/static/js/contabs.js}"></script>
    <script th:src="@{/static/js/pace.min.js}"></script>
    <script th:src="@{/static/js/toastr.min.js}"></script>


</div>