<div th:fragment="plug_js">
    <script th:src="@{/static/js/plugs/jquery.flot.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.flot.spline.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.flot.resize.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.flot.pie.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.peity.min.js}"></script>
    <script th:src="@{/static/js/plugs/peity-demo.js}"></script>
    <script th:src="@{/static/js/plugs/jquery-ui.min.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.gritter.min.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.easypiechart.js}"></script>
    <script th:src="@{/static/js/plugs/jquery.sparkline.min.js}"></script>
    <script th:src="@{/static/js/plugs/sparkline-demo.js}"></script>
</div>